*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(/images/background1.jpg);
}

::-webkit-scrollbar {
    display: none;
}

/* display -> grid */
:is(body, .card) {
    display: grid;
    
}

/* Number of rows */
:is(body) {
    grid-template-rows: auto minmax(100dvh, 100%) auto;
}

/* navbar */
.navbar {
    background-color: blueviolet;

    & img[alt='logo'] {
        width: 5rem;
    }
}

/* All the images */
img {
    aspect-ratio: 1;
    object-fit: cover;
    object-position: center;
}
    /* background-image: url(/images/BackGround.jpg); */


/* text-align: center */
:is(h2, footer p) {
    text-align: center;
}

/* button */
.button {
    background-color: blueviolet;
    color: white;
    justify-content: center;
    background: linear-gradient(60deg, #3a055b, #000600);
}

.card {
    width: 18rem;

    & img {
        object-fit: contain;
        padding-block: .2rem;
        
    }

    & .card-body {
        display: grid;
        grid-template-rows: subgrid;
        grid-row: span 6;
    }
}

@media screen and (width < 768px) {

    :is(.col) {
        padding-block: .2rem;

        & button {
            width: 100%;
        }
    }
}

/* HomePage */
.container-fluid1 {
    min-height: 89.8vh;
    display: grid;
    place-items: center;
    /* background-image: url(/images/background1.jpg); */
    background-size: cover;
    background-position: center;
    border-image: fill 0 linear-gradient(#0003, #000);
}

.HomeHeader {
    margin-top: 70px;
    text-align: center;
    font-family: Hacked;
    color: #e5a1fc;
    font-size: 3em;
    border: 2px solid #000600;
    /* background: linear-gradient(60deg, #3a055b, #000600); */
    padding: 10px;
    margin-bottom: 10px;
}

/* About Us */
.aboutMain {
    min-height: 89.8vh;
    display: grid;
    place-items: center;
    /* background-image: url(/images/background1.jpg); */
    background-size: cover;
    background-position: center;
    border-image: fill 0 linear-gradient(#0003, #000);
  }
  .aboutHeader {
    margin-top: 70px;
    text-align: center;
    font-family: Hacked;
    color: #e5a1fc;
    font-size: 3em;
    border: 2px solid #000600;
    /* background: linear-gradient(60deg, #3a055b, #000600); */
    padding: 10px;
    margin-bottom: 10px;
  }
  .aboutContainer {
    /* background: linear-gradient(60deg, #150022, #000600); */
    color: #e5a1fc;
    opacity: 0.9;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* border: 2px solid #e5a1fc; */
  }
  @media (max-width: 400) {
    .aboutHeader {
      margin-top: 20px;
      text-align: center;
      font-family: Hacked;
      color: #e5a1fc;
      font-size: 1em;
      border: 2px solid #000600;
      /* background: linear-gradient(60deg, #150022, #000600); */
      padding: 5px;
    }
  }
  .column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
  }
  
  .about-section {
    padding: 50px;
    text-align: center;
    background-color: #474e5d;
    color: white;
  }
  
  .container {
    padding: 0 16px;
  }
  
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color: grey;
  }
  
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  
  .button:hover {
    background-color: #555;
  }
  
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }

/* Products */
.container-fluid2{
    min-height: 89.8vh;
    display: grid;
    place-items: center;
    /* background-image: url(/images/background1.jpg); */
    background-size: cover;
    background-position: center;
    border-image: fill 0 linear-gradient(#0003, #000);
}
.productHeader {
    margin-top: 70px;
    text-align: center;
    font-family: Hacked;
    color: #e5a1fc;
    font-size: 3em;
    border: 2px solid #000600;
    /* background: linear-gradient(60deg, #3a055b, #000600); */
    padding: 10px;
    margin-bottom: 10px;
}

/* checkout */
.container-fluid3{
    min-height: 89.8vh;
    display: grid;
    place-items: center;
    /* background-image: url(/images/background1.jpg); */
    background-size: cover;
    background-position: center;
    border-image: fill 0 linear-gradient(#0003, #000);
}
.checkout-header {
    margin-top: 70px;
    text-align: center;
    font-family: Hacked;
    color: #e5a1fc;
    font-size: 3em;
    border: 2px solid #000600;
    /* background: linear-gradient(60deg, #3a055b, #000600); */
    padding: 10px;
    margin-bottom: 10px;
}
.container-fluid{
    background-color: transparent;
}

/* Admin */

.container-fluid4{
    min-height: 89.8vh;
    display: grid;
    place-items: center;
    /* background-image: url(/images/background1.jpg); */
    background-size: cover;
    background-position: center;
    border-image: fill 0 linear-gradient(#0003, #000);
}
.card{
    background: transparent;
    border: 2px solid #3a055b;
    color: white;
    transition: box-shadow 0.3s;
}
.card-img-top:hover {
    transition: border 1s; /* Apply transition only to the border */
    box-shadow: 0 0 10px rgba(128, 0, 128, 0.9);
    zoom: 4;
}
.row{
    /* background: transparent; */
    color: white;
}
.btn{
    background: linear-gradient(60deg, #3a055b, #000600);
}

  /* Center the admin page content */
  #table-products {
    margin: 0 auto;
    width: 80%; /* adjust the width as needed */
  }

  /* Center the images */
  .img-thumbnail {
    display: block;
    margin: 0 auto;
  }

  /* Contact Us */
.container-fluid9 {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background: linear-gradient(60deg, #2f044a, #000600);
    color: white;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-top: 0;
}

form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"], input[type="email"], textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
}

input[type="submit"] {
    background-color: purple;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #3e8e41;
}

.col-md-6 {
    padding: 20px;
}

h3 {
    margin-top: 20px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: #337ab7;
}

a:hover {
    color: #23527c;
}

/* Footer */
.container-fluid8 {
    background: linear-gradient(60deg, #2f044a, #000600);
    padding: 20px 0;
    text-align: center;
    justify-content: center;
    color: black;
    width: 100%;
}

footer h3 {
    margin-bottom: 15px;
}

footer p {
    margin-bottom: 5px;
}

footer .row {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .col-md-4 {
    padding: 10px;
}

footer .lead {
    margin-top: 20px;
}

